.test {
    padding: 20px 0px;
    height: auto;
}

.test .container {
    transition: all 0.25s;
}

.correct-answer {
    box-shadow: inset 0 0 0 9px #29f5a7;
}

.incorrect-answer {
    box-shadow: inset 0 0 0 9px #f52929;
}

#progress {
    margin: 30px 0px;
}

#testContent {
    height: auto;
}

.buttons .btn{
    margin: 0px 15px;
}

.buttons{
    margin: 30px auto;
}

.loader-container {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.container-error {
    border: 6px solid rgb(255, 101, 101);
    transition: border 0.1s;
}

.container-success {
    border: 6px solid rgb(106, 255, 101);
    transition: border 0.1s;
}

.loader-container .loader-primary {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: solid 12px transparent;
    border-top-color: rgb(44, 125, 192);
    border-left-color: rgb(44, 125, 192);
    border-radius: 50%;
    animation: loader-primary 1.2s linear infinite;
}

.loader-container .loader-secondary {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    border: solid 12px transparent;
    border-top-color: rgb(192, 44, 160);
    border-left-color: rgb(192, 44, 160);
    border-radius: 50%;
    animation: loader-secondary 1.2s linear infinite;
}

.question-img {
    width: 15%;
    height: 75%;
    margin: 15px;
    border-radius: 15px;
    border: 3px solid rgb(138, 138, 138);
    cursor: pointer;
    transition: all 0.25s;
}

.question-img:hover {
    border: 3px solid rgb(40, 207, 143);
    background-color: aliceblue;
}

.question-img:active, .question-img:visited {
    border: 3px solid rgb(0, 255, 221);
    background-color: aliceblue;
}

.images {
    border: 1px solid rgb(167, 167, 167);
    width: 100%;
    height: 80%;
    border-radius: 15px;
}

.image-selected {
    border: 3px solid rgb(101, 255, 234);
    background-color: aliceblue;
}

.test-1 {
    display: block;
}

.test-1 .images {
    padding: 15px;
}

.test-1 .images input[type="image"] {
    border: 3px solid rgb(45, 207, 191);
    border-radius: 15px;
    width: 20%;
    transition: all 0.25s;
    margin: 12px auto;
}

.test-1 .images input[type="image"]:hover {
    border: 3px solid rgb(0, 255, 229);
    background-color: #e2f5f4;
}

.test-1 .images input[type="image"]:focus {
    outline: none !important;
    border: 3px solid rgb(124, 255, 242);
    border-radius: 15px;
    background-color: #8bf5cc;
}

.test-2 .check-answer {
    margin: 21px auto;
}

.test-2 img {
    border: 2px solid rgb(28, 180, 218);
    border-radius: 15px;    
}

.test-2 .check-answer .btn {
    border: 2px solid rgb(28, 180, 218);
    border-radius: 9px;
}

.test-2 .check-answer .btn:hover {
    border: 2px solid rgb(121, 228, 255);
    border-radius: 9px;
}

.test-3 .img-content {
    margin: 15px auto;
}

.test-3 .img-content .img-word {
    width: 35%;
    margin: 0px auto;
    border: 3px solid rgb(108, 189, 70);
    border-radius: 15px;
}

.test-3 .word-content {
    width: 60%;
    margin: 12px auto;
    padding: 6px;
    height: 120px;
    border: 3px solid rgb(108, 189, 70);
}

.test-3 .word-content .btn {
    margin: 0px 6px;
    border: 3px solid #56e2ac;
}


.test-3 .words .btn {
    border: 3px solid #56e2ac;
    margin: 15px 18px;
    padding: 9px;
    font-size: 18px;
}

.win-container{
    width: 50%;
    position: absolute;
    z-index: 1;
    left: 25%;
    top: 15%;
}

.win-container .win-screen {
    width: 75%;
    margin: 0px auto;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding: 6px;
    border: 3px solid #29f5a7;
    border-radius: 18px;
    color: #29f5a7;
    transition: all 0.1s;
}

.win-container .win-screen:hover {
    background-color: #29f5a723;
    animation: animateText 1s infinite;
}

.character {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: url("../../files/tests/Congratulation/Render.png");
    animation: animateCharacter 1.25s steps(15);
    transition: all 0.1s;
}

.character:hover{
    animation: animateCharacter 1.25s steps(15) infinite;
}

@keyframes animateText {
    0%{
        box-shadow: 1px 1px rgb(0, 255, 85);
        font-size: 48px;
    }
    100%{
        box-shadow: 4px 4px rgb(0, 255, 85);
        font-size: 50px;
    }
}

@keyframes animateCharacter {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: -4500px;
    }
}

@keyframes loader-primary {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

@keyframes loader-secondary {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(-360deg);
    }
}